@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0px;
  background-color: #f2f4fc;
}

#navbar-logo {
  width: 60px;
  margin-bottom: 15px;
}

navbar {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 170px;
  margin-left: 170px;
}

navbar #navbar-menu {
  justify-content: space-between;
  width: 300px;
  margin-bottom: 15px;
  list-style: none;
  cursor: pointer;
}

navbar a {
  color: #6b708d;
  font-weight: 600;
  text-decoration: none;
}

navbar a:hover {
  color: #072ac8;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

header {
  margin-top: 100px;
  margin-left: 170px;
  margin-right: 170px;
  display: flex;
  margin-bottom: 130px;
}

.header-image {
  background-image: url("../assets/hero-image.png");
  height: 650px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.header-text {
  width: 50%;
  font-stretch: expanded;
  padding-top: 5%;
}

.title {
  color: #292e47;
  text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0px;
  font-size: 3.75rem;
  line-height: 65px;
}

.title span {
  color: #292e47;
  text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0px;
  font-size: 3.75rem;
  line-height: 65px;
  display: block;
  animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.header-subtitle {
  line-height: 150%;
  color: #6b708d;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 40px;
  animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateX(-600px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.article-title {
  color: #292e47;
  font-size: 3.75rem;
  margin-bottom: 10px;
  text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0px;
}

.article-subtitle {
  color: #6b708d;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 80px;
}

.article-date {
  font-size: 21px;
  font-weight: 500;
  color: #292e47;
}

.article-date span {
  color: #6b708d;
}

.subtitle-container {
  display: flex;
  justify-content: space-between;
}

#article-image {
  background-image: url(../assets/1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 500px;
  position: relative;
  margin-bottom: 70px;
}

#article-image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  background-position: center center;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1)) blur(20px);
  z-index: -1;
}

article p {
  color: #6b708d;
  font-size: 20px;
  line-height: 30px;
}

.header-button {
  color: #ffff;
  background-color: #072ac8;
  padding: 16px 36px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #8294e0;
  transition: ease-out 0.4s;
}

.header-button:hover {
  box-shadow: inset 200px 0 0 0 #685aff;
}

.header-card1 {
  width: 63%;
  position: absolute;
  top: -25px;
  left: -85px;
}

.header-card2 {
  width: 58%;
  position: absolute;
  bottom: -100px;
  left: 300px;
}

.header-link {
  margin-left: 40px;
  text-decoration: none;
  color: #6b708d;
}

#logos {
  margin: 0px 170px 150px;
  display: flex;
  justify-content: space-between;
  filter: grayscale(100%);
}

#menu {
  width: 30px;
  position: absolute;
  top: 25px;
  left: 30px;
  display: none;
}

#projects-section,
#services-section,
article {
  margin: 0px 170px 200px;
}

article {
  margin: 130px 170px 100px;
}

.section-title {
  color: #292e47;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 60px;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.section-card {
  background-color: white;
  box-shadow: 0px 10px 55px 20px rgba(0, 0, 0, 0.05);
  width: 31%;
}

.card-text {
  padding: 8px 30px 25px 30px;
}

.card-text h2 {
  color: #292e47;
}

.card-text p {
  color: #6b708d;
}

.card-text a {
  text-decoration: none;
}

#projects-section .section-card img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

#client-section {
  background-color: #292e47;
  background-image: url("../assets/orbit.png");
  background-size: cover;
  height: 600px;
  margin: 0px 56px 200px;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "img1 heading img2"
    ". quote ."
    "img3 profile img4";
}

#client-section h2 {
  color: #ffff;
  font-size: 2.22rem;
  grid-area: heading;
  align-self: end;
  justify-self: center;
}

#client-section h3 {
  color: #ffc600;
  font-size: 1.5rem;
  text-align: center;
  line-height: 40px;
  font-weight: 500;
  grid-area: quote;
  align-self: center;
  justify-self: center;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.resize {
  transition: all 0.2s ease-in-out;
}
.resize:hover {
  transform: scale(1.3);
}

.memoji-1 {
  grid-area: img1;
  width: 50%;
  justify-self: center;
  align-self: end;
}

.memoji-2 {
  grid-area: img2;
  width: 50%;
  justify-self: center;
  align-self: end;
}

.memoji-3 {
  grid-area: img3;
  width: 50%;
  justify-self: center;
  align-self: top;
}

.memoji-4 {
  grid-area: img4;
  width: 50%;
  justify-self: center;
  align-self: top;
}

.profile {
  grid-area: profile;
  justify-self: center;
  align-self: top;
  display: flex;
}

.profile img {
  clip-path: circle();
  height: 50px;
  margin-right: 10px;
}

.profile-text h4 {
  color: #a2d6f9;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0px;
}

.profile-text h5 {
  color: #ffff;
  font-weight: 400;
  margin-top: 5px;
}

.serv-img-pen {
  border-radius: 50%;
  background: url(../assets/pen.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 80px;
  width: 80px;
  margin-top: 30px;
  margin-left: 30px;
  background-color: #ecf7ff;
}

.serv-img-cursor {
  border-radius: 50%;
  background: url(../assets/cursor.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 80px;
  width: 80px;
  margin-top: 30px;
  margin-left: 30px;
  background-color: #ecf7ff;
}

.serv-img-document {
  border-radius: 50%;
  background: url(../assets/document.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 80px;
  width: 80px;
  margin-top: 30px;
  margin-left: 30px;
  background-color: #ecf7ff;
}

#questions-section {
  background-color: #ffc600;
  height: 500px;
  margin: 0px 56px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#questions-section button {
  color: #ffff;
  background-color: #072ac8;
  height: 80px;
  width: 40%;
  padding: 16px 36px;
  font-size: 0.94rem;
  border: solid 2px #072ac8;
  cursor: pointer;
  margin-left: 20px;
}

.questions-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.questions-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.questions-button input {
  height: 78px;
  width: 350px;
  font-size: 0.94rem;
  padding-left: 65px;
  background-color: #f2f4fc;
  border: none;
  background-image: url(../assets/envelope.png);
  background-position: 20px center;
  background-size: 30px;
  background-repeat: no-repeat;
}

.questions-button input::placeholder {
  color: #292e47;
}

#questions-section h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.questions-text h3 {
  color: #292e47;
  font-weight: 400;
  font-size: 1.11rem;
  margin-top: 10px;
  margin-bottom: 40px;
}

footer {
  margin: 0px 170px 60px;
  display: flex;
  justify-content: space-between;
}

footer p {
  color: #6b708d;
  line-height: 30px;
  font-size: 1.1rem;
}

footer img {
  width: 100px;
}

.footer-links {
  height: 200px;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "team services about"
    "press projects privacy";
}

.team {
  grid-area: team;
  justify-self: center;
  align-self: center;
}
.services {
  grid-area: services;
  justify-self: center;
  align-self: center;
}

.about {
  grid-area: about;
  justify-self: center;
  align-self: center;
}
.press {
  grid-area: press;
  justify-self: center;
  align-self: center;
}
.projects {
  grid-area: projects;
  justify-self: center;
  align-self: center;
}
.privacy {
  grid-area: privacy;
  justify-self: center;
  align-self: center;
}

/*contact*/

form {
  margin: 150px 175px 150px;
}

form h1 {
  margin-bottom: 90px;
}

label {
  color: #6b708d;
  font-size: 1.25rem;
}

form input,
textarea {
  background-color: rgba(107, 114, 141, 0.1);
  display: block;
  border: none;
  padding: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: inherit;
}

.middle-section {
  display: flex;
  gap: 5%;
}

.middle-section .input-container {
  width: 100%;
}

.input-container {
  margin-bottom: 40px;
}

.submit-btn {
  cursor: pointer;
  background-color: #072ac8;
  height: 80px;
  border: solid 2px #072ac8;
  color: #ffff;
  font-size: 1rem;
}

#phone-error,
#message-error {
  font-size: 1rem;
  color: red;
}

/*light-mode dark-mode*/
#web-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

#web-mode .sun {
  height: 35px;
}
#web-mode .moon {
  height: 25px;
  margin-left: 5px;
}

/* The switch - the box around the slider */
.mode-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 51px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  top: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #072ac8;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

.dark {
  background-color: #292e47;
}

body.dark .header-text .title span,
body.dark .card-text h2,
body.dark .card-text p,
body.dark .card-text a,
body.dark .article-title,
body.dark form h1 {
  color: white;
}

body.dark navbar a,
body.dark header h2,
body.dark header .header-link,
body.dark footer p,
body.dark article p,
body.dark .article-subtitle p,
body.dark .subtitle-container h2,
body.dark form label {
  color: #9fa4c3;
}

body.dark navbar a:hover {
  color: #072ac8;
}

body.dark .section-card,
body.dark #client-section {
  background-color: #585c78;
}

body.dark #logos {
  filter: grayscale(0%);
}

@media screen and (max-width: 576px) {
  #web-mode {
    display: none;
  }

  #menu {
    display: block;
  }

  navbar button {
    display: none;
  }

  #navbar-logo {
    width: 100px;
  }

  navbar {
    padding-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  navbar #navbar-menu {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
  }

  navbar #navbar-menu li {
    padding: 15px 30px;
    background-color: #ffff;
  }

  .header-image {
    height: 350px;
    width: 100%;
    background-position: center;
  }

  header {
    margin: 30px 30px;
    display: flex;
    flex-direction: column-reverse;
  }

  .header-card1 {
    width: 55%;
    position: absolute;
    top: -25px;
    left: -25px;
  }

  .header-card2 {
    width: 55%;
    position: absolute;
    bottom: -70px;
    left: 200px;
  }

  .header-text {
    width: 100%;
  }
  .header-title {
    font-size: 2.5rem;
    line-height: 45px;
  }

  .header-subtitle br {
    display: none;
  }

  #logos {
    margin: 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #logos img {
    width: 30%;
    padding: 20px;
  }

  #projects-section,
  #services-section {
    margin: 0px 0px 0px;
    padding: 30px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .section-card {
    width: 100%;
    margin-bottom: 30px;
  }

  #client-section {
    margin: 0px 0px 0px;
  }

  .memoji-1 {
    align-self: start;
    width: 110%;
  }

  .memoji-2 {
    align-self: start;
    width: 110%;
  }

  .memoji-3 {
    align-self: end;
    width: 110%;
  }

  .memoji-4 {
    align-self: end;
    width: 110%;
  }

  #client-section h2 {
    font-size: 1.94rem;
    margin-left: 20px;
  }

  #questions-section {
    margin: 0px 0px 30px;
  }

  .questions-text {
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .questions-button {
    display: flex;
    flex-direction: column;
  }

  .questions-button input {
    width: 90%;
    margin-bottom: 20px;
  }

  #questions-section button {
    width: 114%;
    margin-left: 0px;
  }

  footer {
    margin: 0px 0px 0px;
    padding: 30px;
    height: 300px;
    flex-direction: column;
    justify-content: start;
  }

  .footer-links {
    width: 100%;
    display: grid;
  }

  .team,
  .services,
  .about,
  .press,
  .projects,
  .privacy {
    justify-self: flex-start;
    align-self: flex-start;
  }

  /*project page*/
  article {
    margin: 30px 30px;
  }

  .subtitle-container {
    flex-direction: column;
  }
  .article-subtitle {
    margin-bottom: 0px;
  }
  #article-image {
    height: 400px;
    margin-bottom: 0px;
  }

  /*contact page*/
  form {
    margin: 30px 30px;
  }

  form .title {
    color: #292e47;
    text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0px;
    font-size: 3.75rem;
    line-height: 65px;
  }
  .middle-section {
    display: block;
  }
}
